	* {
		box-sizing: border-box;
	}
	
	/* doge button */
	.funcs {
		position: relative;
	}

	.funcs img {
		width: 50px;
		margin-top: 5px;
		padding: 8px;
		height: 50px;
		position: relative;
		display: inline-block;
		top: 0px;
		right: 0px;
	}
	
	#darkID {
		display: none;
	}
	
	/* background */
	body {
		background: linear-gradient(-45deg, #f4f4f4, #dedba2, #f0f8ff, #dedba2);
		position: relative;
		background-size: 400% 400%;
		animation: change 15s ease-in-out infinite;
		transition: .8s ease;
		font-family: 'Century Gothic', sans-serif;
		min-height: 500px;
		margin-bottom: 100px;
	}
	
	@keyframes change{
		0%{
			background-position: 0 50%;
		}
		50%{
			background-position: 100% 50%;
		}
		100%{
			background-position: 0 50%;
		}
	}
	
	/* background: dark mode */
	body.night {
		background: linear-gradient(-45deg, #01213d, #000420, #000000, #0a0101);
		color: #fff;
		position: relative;
		background-size: 400% 400%;
		animation: change 15s ease-in-out infinite;
		transition: .8s ease;
		font-family: 'Century Gothic', sans-serif;
		min-height: 500px;
		margin-bottom: 100px;
	}
	
	/* top */
	.top-container {
		padding: 10px;
		text-align: center;
	}
	
	/* header */
	.header {
		padding: 10px 16px;
		color: #f1f1f1;
	}
	
	header {
		background: #918f67;
		padding: 30px;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		color: white;
		max-width:100%;
		left: 0;
		z-index: 5;
	}
	
	/* header: dark mode */
	.header.night {
		padding: 10px 16px;
		color: #f1f1f1;
	}
	
	header.night {
		background: #0a162e;
		padding: 30px;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		color: white;
		max-width:100%;
		left: 0;
	}
	
	/* profile photo */
	nav {
		float: left;
		padding: 20px;
		height:375px;
	}
	
	nav ul {
		list-style-type: none;
		padding: 0;
	}
	
	#photoID {
		display: none;
	}
	
	/* profile photo overlay */
	.container {
		position: relative;
	}

	.overlay {
		position: absolute; 
		bottom: 0; 
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.5); /* Black see-through */
		color: #f1f1f1; 
		width: 100%;
		transition: .5s ease;
		opacity:0;
		color: white;
		font-size: 20px;
		padding: 20px;
		text-align: center;
		font-family: 'Century Gothic', sans-serif;
	}

	.container:hover .overlay {
		opacity: 1;
	}
	
	.piccontainer {
		text-align: center;
		width: 200px;
	}

	.piccontainer img {
		display: inline-block;
		border-radius: 50%;
		padding: 1%;
	}
	
	/* info beside photo*/
	article {
		float: left;
		padding: 20px;
		width: auto
		background-color: #f1f1f1;
		height:375px;
	}
	
	/* Basic Information */
	#infoName {
		font-size: 15px;
		font-family: 'Century Gothic', sans-serif;
	}
	
	#nameID {
		display: none;
	}
	
	#info {
		font-size: 15px;
		font-family: 'Century Gothic', sans-serif;
	}
	
	#infoColor1 {
		display: inline;
		font-size: 15px;
		font-family: 'Century Gothic', sans-serif;
		color: #FF0000;
	}
	
	#infoColor2 {	
		display: inline;	
		font-size: 15px;
		font-family: 'Century Gothic', sans-serif;
		color: #808080;
	}
	
	/* social media logos */
	#logocontainer img {
		width: 40px;
		height: 40px;
	}
	
	#logoID {
		display: none;
	}
	
	@media (max-width: 600px) {
		nav, article {
			width: 100%;
			height: auto;
		}
	}
	
	section::after {
		content: "";
		display: table;
		clear: both;
	}
	
	.content {
		padding: 16px;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.sticky + .content {
		padding-top: 102px;
	}
	
	#introID {
		display: none;
	}
	
	/* footer */
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #918f67;;
		padding: 10px;
		text-align: center;
		color: white;
	}
	
	/* footer */
	footer.night {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #0a162e;;
		padding: 10px;
		text-align: center;
		color: white;
	}

	.worksPicture {
		width: 500px;
	}
	
