* {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', sans-serif;
}

body {
	background-color: #B90E0A;
	background-image: url("../images/foodFiestaBackground.png");
	background-size: 150px;
	background-repeat: repeat;
	margin: 0;
	min-height: 100vh;
}

/* header */
.sticky {
	position: sticky;
	top: 0;
}

nav {
	background-color: #FFFFFF;
	box-shadow: 3px 3px 5px rgba (0, 0, 0, 0.1);
	padding: 10px 16px;
	background: #231709;
	color: #f1f1f1;
	position: sticky;
}

.header {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
}

nav a {
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.3s;
	cursor: pointer;
	background: transparent;
	border: none;
	position: relative;
	color: #FFFFFF;
}

.header a:hover {
	color: #FFFFFF;
	background-color: #37240e;
}

.header a:nth-child(3) {
	color: #231709;
	background-color: #FFA500;
	border-radius: 50px;
	margin-right: 5px;
}

.header a:nth-child(3):hover {
	background-color: #FF0000;
	margin-right: 5px;
}

.header a:nth-child(n+4):hover {
	color: #231709;
	background-color: #FFFFFF;
}

.header a:nth-child(2) {
	margin-right: auto;
}

/* sidebar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	z-index: 99999;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 10px 0 100px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 100%;
	backdrop-filter: blur(10px);
	text-align: center;
	transition: 1.2s cubic-bezier(.36,-0.01,0,.77);
	margin-left: -360px;
}

.sidebar.closed {
	margin-left: 0px;
}

.overlay{
	position: fixed;
	top: 0;
	left:0;
	height: 100vh;
	width: calc(100vw - (100vw - 100%));
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.overlay.closed {
	display: block;
}

.sidebarLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sidebar a {
	height: 50px;
	width: 190px;
}

.sidebarItems a:hover {
	color: #231709;
	background-color: #FFFFFF;
}

/* content */
#errorMessage1 {
	background-color: #FFFFFF;
	width: 1000px;
	height: 700px;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 50px 50px;
	color: #231709;
}

#dogeza {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

/* Home Page Button */
#homePageButton {
	position: relative;
	background-color: #FFA500;
	border-radius: 50px;
	height: 100%;
	padding: 20px 30px;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.3s;
	cursor: pointer;
	color: #231709;
	text-decoration: none;
	top: 100px;
}

#homePageButton:hover {
	background-color: #FF0000;
}
